<config>
    <values>
        <url>jdbc:postgresql://localhost:5432/nikkie</url>
        <username>keerthan</username>
        <password>keerthan</password>
        <driver-class-name>org.postgresql.Driver</driver-class-name>
        <hibernate-dialect>org.hibernate.dialect.PostgreSQLDialect</hibernate-dialect>
        <ddl-auto>update</ddl-auto>
    </values>
</config>